<div class="container vh-100 d-inline-block">
    <div class="title1">
        <div class="head">
            <p>Profil</p>
        </div>
    </div>
    <div class="route">
        <p>Home <span> > Profil</span></p>
    </div>
    <div class="about-me">
        <div class="container-aboutme">
            <div class="header"><p>About Me</p></div>
            <div class="container-prrofil">
                <div class="profil"><img src="assets/icon/person.jpg" alt=""></div>
                <div class="Name"><p>Raisul Khairi</p></div>
            </div>
            <div class="data">
                <div class="name-con">
                    <div class="title">
                        <p>Name :</p>
                    </div>
                    <div class="title2">
                        <p>Raisul Khairi</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Gender :</p>
                    </div>
                    <div class="title2">
                        <p>Male</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Father Name :</p>
                    </div>
                    <div class="title2">
                        <p>Yonyulisman</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Mother Name :</p>
                    </div>
                    <div class="title2">
                        <p>Muharni</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Date Of Birth :</p>
                    </div>
                    <div class="title2">
                        <p>20/02/2000</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Religion :</p>
                    </div>
                    <div class="title2">
                        <p>Muslim</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Father Occupation :</p>
                    </div>
                    <div class="title2">
                        <p>Wirasawsta</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>E-mail :</p>
                    </div>
                    <div class="title2">
                        <p>raisulkhairi20gmail.com</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>admission Date :</p>
                    </div>
                    <div class="title2">
                        <p>05/10/2019</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Class :</p>
                    </div>
                    <div class="title2">
                        <p>2</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Section :</p>
                    </div>
                    <div class="title2">
                        <p>Pink</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Address :</p>
                    </div>
                    <div class="title2">
                        <p>Padang</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Phone :</p>
                    </div>
                    <div class="title2">
                        <p>081220361299</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>