<div class="title-subject">
    <div class="head-subject">
        <p>Subject</p>
    </div>
</div>
<div class="route-subject">
    <p>Home <span> > Subject</span></p>
</div>
<div class="container-subject">
    <div class="container-table">
        <table>
            <tr class="header-subject">
                <th>
                    <p>Id</p>
                </th>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    <p>Teacher</p>
                </th>
                <th>
                    <p>Duration</p>
                </th>
                <th>
                    <p>Link</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>001</p>
                </td>
                <td>
                    <p>Raisul Khairi</p>
                </td>
                <td>
                    <p>Ella</p>
                </td>
                <td>
                    <p>09.00 am - 11.00 am</p>
                </td>
                <td>
                    <p>http://localhost:2000</p>
                </td>
            </tr>
        </table>
    </div>
</div>