<div class="title">
    <div class="head">
        <p>Subject</p>
    </div>
</div>
<div class="route">
    <p>Home <span> > Subject</span></p>
</div>
<div class="container-table">
    <table>
        <tr class="header">
            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Subject</p>
            </th>
            <th>
                <p>Grade</p>
            </th>
            <th>
                <p>Percent</p>
            </th>
            <th>
                <p>Teacher</p>
            </th>
        </tr>
        <tr>
            <td>
                <p>001</p>
            </td>
            <td>
                <p>Raisul Khairi</p>
            </td>
            <td>
                <p>Ella</p>
            </td>
            <td>
                <p>09.00 am - 11.00 am</p>
            </td>
            <td>
                <p>http://localhost:2000</p>
            </td>
        </tr>
    </table>
</div>