<div class="title-grade">
    <div class="head-grade">
        <p>Grade</p>
    </div>
</div>
<div class="route-grade">
    <p>Home <span> > Grade</span></p>
</div>
<div class="container-grade">
    <div class="container-table-grade">
        <table>
            <tr class="header">
                <th>
                    <p>Id</p>
                </th>
                <th>
                    <p>Subject</p>
                </th>
                <th>
                    <p>Grade</p>
                </th>
                <th>
                    <p>Percent</p>
                </th>
                <th>
                    <p>Teacher</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>001</p>
                </td>
                <td>
                    <p>Raisul Khairi</p>
                </td>
                <td>
                    <p>A</p>
                </td>
                <td>
                    <p>90 </p>
                </td>
                <td>
                    <p>ella</p>
                </td>
                <td>
                    <div class="edit">
                        <p><a href="">...</a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>